 .box-style {
        padding: 25px;
        font-size:16px;
            h2 {
                width:70%;
                font-size:30px;
                font-family: 'Playball', cursive,sans-serif;
            }
            h3{
                margin:15px 5px 0 0;
                font-weight: bold;
                font-family: 'Lato', sans-serif;
                
            }

    }

    .flex {
        display:flex;
        font-family: 'Lato', sans-serif;
        margin:10px 0;

        input[type="checkbox"]{
            margin:5px;
        }
        div {
            margin-bottom:10px;
        }
    }

.flex-div {
display: flex;
align-items: center;
justify-content: space-between;
}
