 .box-style {
        padding: 25px;
        font-size:16px;
        width:34%;
        background: white;
        border-radius: 15px;
        margin-top: 50px;
        margin-right:5%;
            h2 {
                font-size:30px;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            h3{
                margin: 8px 0;
                font-weight: bold;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                background: antiquewhite;
                padding: 5px;
                width: 80%;
                padding-left: 10%;
                font-size:16px;
            }

    }

    .flex {
        display:flex;
        font-family: 'Lato', sans-serif;
        font-size: 16px;

        input[type="checkbox"]{
            margin:5px;
        }
        div {
            margin-bottom:10px;
        }
    }

.flex-div {
display: flex;
align-items: center;
justify-content: space-between;
}
