
.cupcake, .icing-position, .sprinkle-position, .more-ingredients-position,.ribbon-position {
    position: absolute;
}

.sprinkle-position, .more-ingredients-position, .ribbon-position {
z-index: 99;
}
.cupcake {
top: 472px;
width: 82px;
left: 423px;
}

.icing-position {
width: 77px;
left: 428px;
top: 443px;
}

.sprinkle-position{
 width: 65px;
left: 428px;
top: 453px;
}

.more-ingredients-position {
 width: 15px;
 top: 444px;
left: 448px;
}

.ribbon-position {
width: 54px;
top: 533px;
left: 437px;
}


input[type="radio"] {
margin: 0 8px;
}
