@media  (max-width: 1050px) {
body .bakery {
width: 500px;
}
.cupcake {
top: 446px;
width: 55px;
left: 263px;
}
.icing-position {
width: 54px;
left: 264px;
top: 423px;
}
.more-ingredients-position{
width: 12px;
left: 275px;
top: 431px;
}
.sprinkle-position {
width: 52px;
left: 265px;
top: 432px;
}
.ribbon-position {
width: 44px;
top: 480px;
left: 269px;
}
.flex-div {
margin-top: 100px;
}
.box-style {
width: 38%;
padding: 18px 35px;
}
.box-style h2 {
font-size: 22px;
}
.box-style h3 {
font-size: 12px;
}
}

@media (max-width:860px) {
.box-style h2 {
font-size: 18px;
}
.box-style h3 {
font-size: 10px;
width: 90%;
}
.box-style {
width: 34%;
}
.flex {
font-size: 12px;
}
}

@media (max-width: 750px){
body .bakery {
  width: 400px;
}
.cupcake {
  top: 406px;
  width: 45px;
  left: 210px;
}
.icing-position {
  width: 46px;
  left: 210px;
  top: 388px;
}
.sprinkle-position {
  width: 41px;
  left: 212px;
  top: 393px;
}
.more-ingredients-position {
width: 11px;
left: 223px;
top: 378px;
}
.ribbon-position {
width: 33px;
top: 440px;
left: 216px;
}
}

@media (max-width: 700px) {
.box-style {
font-size: 10px;
width: 44%;
padding: 13px 29px;
margin-top: 37px;
margin-right: initial;
}
.cupcake {
top: 349px;
left: 363px;
}
.icing-position {
top: 336px;
left: 363px;
}
.sprinkle-position {
top: 340px;
left: 365px;
}
.more-ingredients-position {
left: 387px;
top: 323px;
}
.ribbon-position {
top: 380px;
left: 370px;
}
.flex-div {
flex-direction: column;
padding-bottom: 50px;
}
body .bakery {
margin-top: -10px;
}
}

@media (max-width: 610px) {
.cupcake {
top: 349px;
left: 300px;
}
.icing-position {
top: 330px;
left: 300px;
}
.sprinkle-position {
top: 336px;
left: 300px;
}
.more-ingredients-position {
top: 321px;
left: 310px;
}
.ribbon-position {
left: 307px;
}
}

@media (max-width: 500px) {
.cupcake {
left: 241px;
}
.sprinkle-position {
left: 242px;
}
.icing-position {
left: 241px;
}
.more-ingredients-position {
left: 256px;
}
.ribbon-position {
left: 247px;
}
.box-style h3 {
margin: 5px 5px 0 0;
}
.flex {
margin: 2px 1px;
}
.box-style h2 {
font-size: 25px;
}
.box-style {
border:none;
width: 82%;
}
.box-style h2 {
font-size: 15px;
margin-bottom: 13px;
border-bottom: 1px solid black;
width: 92%;
}
}

@media (max-width: 400px) {
.cupcake {
top: 351px;
left: 214px;
}
.icing-position {
top: 336px;
left: 214px;
}
.sprinkle-position {
top: 338px;
left: 213px;
}
.ribbon-position {
top: 380px;
left: 220px;
}
.more-ingredients-position {
top: 326px;
left: 225px;
}
}
@media (max-width: 400px) {
.cupcake {
left: 179px;
}
.sprinkle-position {
left: 183px;
}
.icing-position {
left: 180px;
}
.more-ingredients-position {
left: 191px;
}
.ribbon-position {
left: 185px;
}
}
