a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

body {
  font-size: 14px;
  background: #fbffc68f;
}

body .bakery {
  width: 700px;
  margin-top: 20px;
}

.box-style {
  padding: 25px;
  font-size: 16px;
  width: 34%;
  background: white;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 5%;
}

.box-style h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.box-style h3 {
  margin: 8px 0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background: antiquewhite;
  padding: 5px;
  width: 80%;
  padding-left: 10%;
  font-size: 16px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.flex input[type="checkbox"] {
  margin: 5px;
}

.flex div {
  margin-bottom: 10px;
}

.flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cupcake, .icing-position, .sprinkle-position, .more-ingredients-position, .ribbon-position {
  position: absolute;
}

.sprinkle-position, .more-ingredients-position, .ribbon-position {
  z-index: 99;
}

.cupcake {
  top: 472px;
  width: 82px;
  left: 423px;
}

.icing-position {
  width: 77px;
  left: 428px;
  top: 443px;
}

.sprinkle-position {
  width: 65px;
  left: 428px;
  top: 453px;
}

.more-ingredients-position {
  width: 15px;
  top: 444px;
  left: 448px;
}

.ribbon-position {
  width: 54px;
  top: 533px;
  left: 437px;
}

input[type="radio"] {
  margin: 0 8px;
}

@media (max-width: 1050px) {
  body .bakery {
    width: 500px;
  }
  .cupcake {
    top: 446px;
    width: 55px;
    left: 263px;
  }
  .icing-position {
    width: 54px;
    left: 264px;
    top: 423px;
  }
  .more-ingredients-position {
    width: 12px;
    left: 275px;
    top: 431px;
  }
  .sprinkle-position {
    width: 52px;
    left: 265px;
    top: 432px;
  }
  .ribbon-position {
    width: 44px;
    top: 480px;
    left: 269px;
  }
  .flex-div {
    margin-top: 100px;
  }
  .box-style {
    width: 38%;
    padding: 18px 35px;
  }
  .box-style h2 {
    font-size: 22px;
  }
  .box-style h3 {
    font-size: 12px;
  }
}

@media (max-width: 860px) {
  .box-style h2 {
    font-size: 18px;
  }
  .box-style h3 {
    font-size: 10px;
    width: 90%;
  }
  .box-style {
    width: 34%;
  }
  .flex {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  body .bakery {
    width: 400px;
  }
  .cupcake {
    top: 406px;
    width: 45px;
    left: 210px;
  }
  .icing-position {
    width: 46px;
    left: 210px;
    top: 388px;
  }
  .sprinkle-position {
    width: 41px;
    left: 212px;
    top: 393px;
  }
  .more-ingredients-position {
    width: 11px;
    left: 223px;
    top: 378px;
  }
  .ribbon-position {
    width: 33px;
    top: 440px;
    left: 216px;
  }
}

@media (max-width: 700px) {
  .box-style {
    font-size: 10px;
    width: 44%;
    padding: 13px 29px;
    margin-top: 37px;
    margin-right: initial;
  }
  .cupcake {
    top: 349px;
    left: 363px;
  }
  .icing-position {
    top: 336px;
    left: 363px;
  }
  .sprinkle-position {
    top: 340px;
    left: 365px;
  }
  .more-ingredients-position {
    left: 387px;
    top: 323px;
  }
  .ribbon-position {
    top: 380px;
    left: 370px;
  }
  .flex-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  body .bakery {
    margin-top: -10px;
  }
}

@media (max-width: 610px) {
  .cupcake {
    top: 349px;
    left: 300px;
  }
  .icing-position {
    top: 330px;
    left: 300px;
  }
  .sprinkle-position {
    top: 336px;
    left: 300px;
  }
  .more-ingredients-position {
    top: 321px;
    left: 310px;
  }
  .ribbon-position {
    left: 307px;
  }
}

@media (max-width: 500px) {
  .cupcake {
    left: 241px;
  }
  .sprinkle-position {
    left: 242px;
  }
  .icing-position {
    left: 241px;
  }
  .more-ingredients-position {
    left: 256px;
  }
  .ribbon-position {
    left: 247px;
  }
  .box-style h3 {
    margin: 5px 5px 0 0;
  }
  .flex {
    margin: 2px 1px;
  }
  .box-style h2 {
    font-size: 25px;
  }
  .box-style {
    border: none;
    width: 82%;
  }
  .box-style h2 {
    font-size: 15px;
    margin-bottom: 13px;
    border-bottom: 1px solid black;
    width: 92%;
  }
}

@media (max-width: 400px) {
  .cupcake {
    top: 351px;
    left: 214px;
  }
  .icing-position {
    top: 336px;
    left: 214px;
  }
  .sprinkle-position {
    top: 338px;
    left: 213px;
  }
  .ribbon-position {
    top: 380px;
    left: 220px;
  }
  .more-ingredients-position {
    top: 326px;
    left: 225px;
  }
}

@media (max-width: 400px) {
  .cupcake {
    left: 179px;
  }
  .sprinkle-position {
    left: 183px;
  }
  .icing-position {
    left: 180px;
  }
  .more-ingredients-position {
    left: 191px;
  }
  .ribbon-position {
    left: 185px;
  }
}
